body{
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-rows:   8% 8% 77% 7%;
    grid-auto-columns: repeat(3, ifr);
    gap: 10px;  
}

header{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:blue;
    grid-column: span 3;
    display: grid;
    grid-auto-columns: 87% 13%;   
}

nav{
    background-color:#9BAFEB;
    color:white;
    grid-column: span 3;
    display: grid;
    grid-auto-columns: 58% 37% 5%;  
}

main{
    background-color: lightblue;
    color: black;
    grid-column: span 1;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 10px;
    display: grid;
    align-items: center;
    padding-bottom: 4px;
}
aside{
    grid-column: span 2;
    background-color: lightblue;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    margin-right: 10px;
    display: grid;
    justify-items: center;
    padding-top: 15px;
    padding-bottom: 36px;
}

footer{
    grid-column:span 3;
    background-color: cornflowerblue;
    display: grid;
    grid-auto-columns: 33% 33% 33%;
}
#titulo{
    grid-column: 1/2; 
    color: white;
    font-size: 30px;
    text-align: center;
    padding-left: 200px;
}

#bloque_del_usuario{
    grid-column: 2/3;
    color: white;
    font-size: 13px;
    margin: auto 0 ;
    display: grid;
    grid-auto-columns:40% 60%;  
}

#foto_usuario{
    height: 52px;
    width: 52px;
    clip-path:circle(50% at 50% 50%);
    opacity: 60%;
}
#texto_usuario{
    margin: auto 0;
    color: white; 
    grid-column:2/3;
    text-align: center;
}
#bloque_de_navegacion{
    grid-column: 2/3;
    margin-top: 25px;
}
#texto_buscar{
    color:white;
    margin-right:8px;
    font-size: 16px;
}
#barra_buscadora{
    width: 245px;
}
#boton_del_buscador{
    grid-column: 3/4;
}
#logo_buscador{
    height: 40px;
    width: 40px;
    padding-top:5px;   
}
#menu{
    text-align: center;
}
.modulos_menu{
    display: grid;
    align-items: center;
    justify-items: center;
    margin: 10px 20px;
    border: 2px solid black;
    border-radius: 10%;
    padding:10px 15px;
}
.modulos_menu p{
    font-size: 14px;
}

.modulos_menu img{
    height: 50px;
    width: 50px;
    padding-bottom: 10px;
}
fieldset{
    padding-bottom: 0;
}
.formulario {
    margin: 18px 0;
}
.formulario label {
    width: 185px;
    float: left;
    margin-top: 2px;
}  
.formulario input{
    width: 200px;
}
#input_nombre{
    width: 220px;
}
#input_categorias{
    width: 178px;
}
#color{
    width: 20px;
}
#fecha{
    margin: 18px 0;
    height: 55px;
}
#label_fecha{
    margin: 19px 0 ;
    float: left;
    width: 185px;
}
#tamaño_input_fecha{
    width: 123px;
    float: left;
    margin: 15.5px 0;
}
#logo_fecha{
    height: 27px; 
    width: 27px;
    margin: 14px 0 14px 4px;
}
.formulario .radio_de_estados{
    width: 15px;
    margin-top: 5px  ;
    margin-bottom: 0px;
    margin-left: 0;
    margin-right: 0 ;
}
.formulario .estados{
    font-size: 15px;
    float: initial;
    margin: 0 0 4px 0;
}
#checkbox_impuesto{
    width: 15px;
    margin-left:0px ;
}
#foto{
    margin: 18px 0;
    height: 55px;
}
#label_foto{
    margin: 19px 0 ;
    float: left;
    width: 185px;
}
#tamaño_input_foto{
    width:133px;
    margin: 17px 0;
    float: left;
}
#logo_de_galeria{
    height: 30px; 
    width: 30px;
    margin: 12px 0px;
}
textarea{
    resize: none;
}
#descripcion{
    margin: 18px 0;
}
#label_descripcion{
    padding-top: 33px;
    float: left;
    width: 185px;
}
#tamaño_descripcion{
    width: 305px;
    height: 80px;
}
#botones{
    padding-left: 180px;
    margin: 18px 0 ;
}
#limpiar{
    margin-left: 30px;
}
footer a{
    color: black;
    text-decoration: none;
    margin: auto;
}
#que_hacemos{
    grid-column: 1/2;
}
#enlaces_principales{
    grid-column: 2/3;
}
#contactanos{
    grid-column: 3/4;
}